In [3]:
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
HistTrans=pd.read_csv('E:\DSE\DataStorm 4.0\DataStorm077\data-storm-4\Historical-transaction-data.csv')
StoreInfo = pd.read_csv('E:\DSE\DataStorm 4.0\DataStorm077\data-storm-4\Store-info.csv')
Test = pd.read_
csv('E:\DSE\DataStorm 4.0\DataStorm077\data-storm-4\Testing-data.csv')

In [5]:
df = HistTrans.copy()

In [6]:
HistTrans

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5
...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09T00:00:00.000Z,NaN,X21A,SHOP056,440,3
473970,LEMONADE 1.5L,2021-12-02T00:00:00.000Z,NaN,LV2L,SHOP018,220,2
473971,FIT O ORANGE 200ML,2021-11-19T00:00:00.000Z,NaN,VC4O,SHOP077,210,4
473972,CREAM SODA 1.5L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,440,3
473973,CREAM SODA APPLE POP 1L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,150,1

In [7]:
col1_min = HistTrans['item_price'].min()
col1_max = HistTrans['item_price'].max()

col2_min = HistTrans['quantity_sold'].min()
col2_max = HistTrans['quantity_sold'].max()

In [8]:
col1_min,col1_max

(35, 17400)

In [9]:
col2_min,col2_max

(-1, 101)

In [10]:
HistTrans = HistTrans[HistTrans['quantity_sold'] > 0]

In [11]:
df = HistTrans.copy()

In [12]:
HistTrans.isna().sum()

item_description    35554
transaction_date        0
invoice_id           6216
customer_id             0
shop_id                 0
item_price              0
quantity_sold           0
dtype: int64

In [13]:
df1 = StoreInfo.copy()

In [14]:
df

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold
0,ORANGE BARLEY 1.5L,2021-12-11T00:00:00.000Z,147.0,BGXA,SHOP008,220,2
1,GINGER BEER 1.5L,2021-10-17T00:00:00.000Z,371.0,IA25,SHOP112,220,2
2,TONIC PET 500ML,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,160,2
3,CREAM SODA 1L,2021-12-13T00:00:00.000Z,484.0,VN7V,SHOP008,150,2
4,STRAWBERRY MILK 180ML,2021-10-23T00:00:00.000Z,1310.0,7S00,SHOP112,210,5
...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09T00:00:00.000Z,NaN,X21A,SHOP056,440,3
473970,LEMONADE 1.5L,2021-12-02T00:00:00.000Z,NaN,LV2L,SHOP018,220,2
473971,FIT O ORANGE 200ML,2021-11-19T00:00:00.000Z,NaN,VC4O,SHOP077,210,4
473972,CREAM SODA 1.5L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,440,3
473973,CREAM SODA APPLE POP 1L,2021-12-03T00:00:00.000Z,NaN,MSBQ,SHOP077,150,1

In [15]:
HistTrans.isna().sum()

item_description    35554
transaction_date        0
invoice_id           6216
customer_id             0
shop_id                 0
item_price              0
quantity_sold           0
dtype: int64

### Create new Features

In [16]:
df['SALE_AMOUNT'] = df['item_price'] * df['quantity_sold']

In [17]:
df['transaction_date'] = df['transaction_date'].str.split('T', n=1, expand=True)[0]

In [18]:
# convert Date column to datetime format
df['transaction_date'] = pd.to_datetime(df['transaction_date'])

# create new column Month with two-digit format
df['MONTH'] = df['transaction_date'].dt.strftime('%m')

In [19]:
# fill NaN values with empty string
# df['item_description'] = df['item_description'].fillna('')


# create a new column 'BRAND' by splitting the ITEM string and taking the first element
df['BRAND'] = df['item_description'].str.split().str[:-1].str.join(' ')

# create a new column 'CAPACITY' by splitting the ITEM string and taking the last element
df['CAPACITY'] = df['item_description'].str.split().str[-1]

def process_value(val):
    if pd.notnull(val):  # ignore NaN values
        if 'ML' in val:
            val = val.replace('ML', '').strip()
            val = (float(val) / 1000)  
        elif 'L' in val:
            val = val.replace('L', '').strip()
            val = int(float(val))  # convert to int
    return val

# apply the function to the column
df['CAPACITY'] = df['CAPACITY'].apply(process_value)

In [20]:
df

,item_description,transaction_date,invoice_id,customer_id,shop_id,item_price,quantity_sold,SALE_AMOUNT,MONTH,BRAND,CAPACITY
0,ORANGE BARLEY 1.5L,2021-12-11,147.0,BGXA,SHOP008,220,2,440,12,ORANGE BARLEY,1.00
1,GINGER BEER 1.5L,2021-10-17,371.0,IA25,SHOP112,220,2,440,10,GINGER BEER,1.00
2,TONIC PET 500ML,2021-12-13,484.0,VN7V,SHOP008,160,2,320,12,TONIC PET,0.50
3,CREAM SODA 1L,2021-12-13,484.0,VN7V,SHOP008,150,2,300,12,CREAM SODA,1.00
4,STRAWBERRY MILK 180ML,2021-10-23,1310.0,7S00,SHOP112,210,5,1050,10,STRAWBERRY MILK,0.18
...,...,...,...,...,...,...,...,...,...,...,...
473969,NECTO 1.5L,2021-12-09,NaN,X21A,SHOP056,440,3,1320,12,NECTO,1.00
473970,LEMONADE 1.5L,2021-12-02,NaN,LV2L,SHOP018,220,2,440,12,LEMONADE,1.00
473971,FIT O ORANGE 200ML,2021-11-19,NaN,VC4O,SHOP077,210,4,840,11,FIT O ORANGE,0.20
473972,CREAM SODA 1.5L,2021-12-03,NaN,MSBQ,SHOP077,440,3,1320,12,CREAM SODA,1.00
473973,CREAM SODA APPLE POP 1L,2021-12-03,NaN,MSBQ,SHOP077,150,1,150,12,CREAM SODA APPLE POP,1.00

In [21]:
df1

     shop_id  shop_area_sq_ft shop_profile
0    SHOP047              528     Moderate
1    SHOP009              676         High
2    SHOP083              676          Low
3    SHOP117              676          Low
4    SHOP042              676          Low
..       ...              ...          ...
119  SHOP087              527          NaN
120  SHOP050              411          NaN
121  SHOP061              699          NaN
122  SHOP056              597          NaN
123  SHOP070              676          NaN

[124 rows x 3 columns]

In [22]:
df.isna().sum()

item_description    35554
transaction_date        0
invoice_id           6216
customer_id             0
shop_id                 0
item_price              0
quantity_sold           0
SALE_AMOUNT             0
MONTH                   0
BRAND               35554
CAPACITY            35554
dtype: int64

In [23]:
df.columns

Index(['item_description', 'transaction_date', 'invoice_id', 'customer_id',
       'shop_id', 'item_price', 'quantity_sold', 'SALE_AMOUNT', 'MONTH',
       'BRAND', 'CAPACITY'],
      dtype='object')

### Create new features

In [24]:
sales_by_shop = df.groupby('shop_id')['SALE_AMOUNT'].sum().reset_index()
# sales_by_shop

In [25]:
df1 = df1.merge(sales_by_shop, how='left', on='shop_id')
df1

     shop_id  shop_area_sq_ft shop_profile  SALE_AMOUNT
0    SHOP047              528     Moderate       842960
1    SHOP009              676         High      1970870
2    SHOP083              676          Low      1691985
3    SHOP117              676          Low      2326200
4    SHOP042              676          Low      1340215
..       ...              ...          ...          ...
119  SHOP087              527          NaN      1128935
120  SHOP050              411          NaN      2399125
121  SHOP061              699          NaN      2110800
122  SHOP056              597          NaN      3024315
123  SHOP070              676          NaN      1325070

[124 rows x 4 columns]

In [26]:
df1['sale_amount_per_sqft'] = df1['SALE_AMOUNT'] / df1['shop_area_sq_ft']
df1

     shop_id  shop_area_sq_ft shop_profile  SALE_AMOUNT  sale_amount_per_sqft
0    SHOP047              528     Moderate       842960           1596.515152
1    SHOP009              676         High      1970870           2915.488166
2    SHOP083              676          Low      1691985           2502.936391
3    SHOP117              676          Low      2326200           3441.124260
4    SHOP042              676          Low      1340215           1982.566568
..       ...              ...          ...          ...                   ...
119  SHOP087              527          NaN      1128935           2142.191651
120  SHOP050              411          NaN      2399125           5837.287105
121  SHOP061              699          NaN      2110800           3019.742489
122  SHOP056              597          NaN      3024315           5065.854271
123  SHOP070              676          NaN      1325070           1960.162722

[124 rows x 5 columns]

In [27]:
customers_per_shop = HistTrans.groupby('shop_id')['customer_id'].nunique().reset_index(name='num_unique_customers')
customers_per_shop

     shop_id  num_unique_customers
0    SHOP001                  1106
1    SHOP002                  2546
2    SHOP003                  2038
3    SHOP004                  1724
4    SHOP005                  2189
..       ...                   ...
119  SHOP123                  1146
120  SHOP124                  2251
121  SHOP125                   886
122  SHOP126                  1742
123  SHOP127                  2305

[124 rows x 2 columns]

In [28]:
df1 = df1.merge(customers_per_shop, how='left', on='shop_id')
df1

,shop_id,shop_area_sq_ft,shop_profile,SALE_AMOUNT,sale_amount_per_sqft,num_unique_customers
0,SHOP047,528,Moderate,842960,1596.515152,920
1,SHOP009,676,High,1970870,2915.488166,2476
2,SHOP083,676,Low,1691985,2502.936391,1876
3,SHOP117,676,Low,2326200,3441.124260,2015
4,SHOP042,676,Low,1340215,1982.566568,1826
...,...,...,...,...,...,...
119,SHOP087,527,NaN,1128935,2142.191651,1061
120,SHOP050,411,NaN,2399125,5837.287105,1765
121,SHOP061,699,NaN,2110800,3019.742489,1725
122,SHOP056,597,NaN,3024315,5065.854271,2810
123,SHOP070,676,NaN,1325070,1960.162722,1407

In [29]:
item_per_shop = HistTrans.groupby('shop_id')['item_description'].nunique().reset_index(name='num_unique_items')
item_per_shop

     shop_id  num_unique_items
0    SHOP001                35
1    SHOP002                35
2    SHOP003                35
3    SHOP004                35
4    SHOP005                36
..       ...               ...
119  SHOP123                36
120  SHOP124                35
121  SHOP125                36
122  SHOP126                31
123  SHOP127                36

[124 rows x 2 columns]

In [30]:
num_transactions_per_shop = HistTrans.groupby('shop_id').size().reset_index(name='num_transactions')
num_transactions_per_shop

     shop_id  num_transactions
0    SHOP001              1980
1    SHOP002              4721
2    SHOP003              3597
3    SHOP004              3392
4    SHOP005              4138
..       ...               ...
119  SHOP123              2035
120  SHOP124              4366
121  SHOP125              1838
122  SHOP126              3141
123  SHOP127              4069

[124 rows x 2 columns]

In [31]:
df1 = df1.merge(num_transactions_per_shop, how='left', on='shop_id')
df1

,shop_id,shop_area_sq_ft,shop_profile,SALE_AMOUNT,sale_amount_per_sqft,num_unique_customers,num_transactions
0,SHOP047,528,Moderate,842960,1596.515152,920,1662
1,SHOP009,676,High,1970870,2915.488166,2476,4517
2,SHOP083,676,Low,1691985,2502.936391,1876,3550
3,SHOP117,676,Low,2326200,3441.124260,2015,4015
4,SHOP042,676,Low,1340215,1982.566568,1826,3219
...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,1128935,2142.191651,1061,1991
120,SHOP050,411,NaN,2399125,5837.287105,1765,3875
121,SHOP061,699,NaN,2110800,3019.742489,1725,3072
122,SHOP056,597,NaN,3024315,5065.854271,2810,5663
123,SHOP070,676,NaN,1325070,1960.162722,1407,2736

In [32]:
df1['sales_per_customer'] = df1['SALE_AMOUNT']/df1['num_transactions']
df1

,shop_id,shop_area_sq_ft,shop_profile,SALE_AMOUNT,sale_amount_per_sqft,num_unique_customers,num_transactions,sales_per_customer
0,SHOP047,528,Moderate,842960,1596.515152,920,1662,507.196149
1,SHOP009,676,High,1970870,2915.488166,2476,4517,436.322781
2,SHOP083,676,Low,1691985,2502.936391,1876,3550,476.615493
3,SHOP117,676,Low,2326200,3441.124260,2015,4015,579.377335
4,SHOP042,676,Low,1340215,1982.566568,1826,3219,416.345138
...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,1128935,2142.191651,1061,1991,567.019086
120,SHOP050,411,NaN,2399125,5837.287105,1765,3875,619.129032
121,SHOP061,699,NaN,2110800,3019.742489,1725,3072,687.109375
122,SHOP056,597,NaN,3024315,5065.854271,2810,5663,534.048208
123,SHOP070,676,NaN,1325070,1960.162722,1407,2736,484.309211

### Check NaN values

In [33]:
len(df1['shop_id'].unique().tolist())

124

### Drop unwanted Features

In [34]:
df.drop(['item_description', 'transaction_date','invoice_id','customer_id'], axis=1, inplace=True)

In [35]:
df1.columns

Index(['shop_id', 'shop_area_sq_ft', 'shop_profile', 'SALE_AMOUNT',
       'sale_amount_per_sqft', 'num_unique_customers', 'num_transactions',
       'sales_per_customer'],
      dtype='object')

In [36]:
cols = ['shop_area_sq_ft','SALE_AMOUNT','sale_amount_per_sqft','num_unique_customers','num_transactions','sales_per_customer','num_unique_items']

### Check outliers

In [37]:
# # assume the DataFrame is called df
# for col in cols:
#     sns.boxplot(x=df1[col])
#     plt.show()

In [38]:
# df1.columns

In [39]:
# out_df = df1.drop(columns=["shop_id",'shop_profile'])

In [40]:
# # Seperate normally distributed columns and skewed columns based on Shapiro test and skewness
# from scipy.stats import shapiro, skew

# def get_skew_colsss(df):
#     p_values = [shapiro(df[col])[1] for col in df.columns]
#     skewness = [skew(df[col]) for col in df.columns]

#     normal_cols = [i for i, p in zip(df.columns,p_values) if p > 0.5]
#     skewed_cols = [i for i,s in zip(df.columns,skewness) if abs(s) > 0.5]

#     return normal_cols,skewed_cols

In [41]:
# # train data
# normal_cols, skewed_cols = get_skew_colsss(out_df)

In [42]:
# normal_cols

In [43]:
# skewed_cols

In [44]:
# # Function to handle outliers based on Inter Quartile Range method
# def outlier_handler_skewed(df,col,option):
#     # step 1: calculate IQR
#     Q1 = df[col].quantile(0.25)
#     Q3=df[col].quantile(0.75)
#     IQR = Q3-Q1

#     # step 2: calculate upper and lower bounds for each column 
#     lower = Q1 - 1.5*(IQR)
#     upper = Q3 + 1.5*(IQR)

    
#     if option=="drop":

#         df.drop(df.loc[df[col]<lower].index,inplace=True)

#         df.drop(df.loc[df[col]>upper].index,inplace=True)

#     elif option=="fill_Qrt":

#         df[col] = np.where(df[col] < lower, lower, df[col])

#         df[col] = np.where(df[col] > upper, upper, df[col])
        
    
#     elif option =="fill_mean":
#         df[col] = np.where(df[col] < lower, df[col].mean() , df[col])
#         df[col] = np.where(df[col] > upper, df[col].mean() , df[col])
        
#     elif option =="fill_median":
#         df[col] = np.where(df[col] < lower, df[col].median(), df[col])
#         df[col] = np.where(df[col] > upper, df[col].median(), df[col])

In [45]:
# # handle outliers in train set
# for i in cols:
#     outlier_handler_skewed(df1_x,i,'fill_median')

In [46]:
# # handle outliers in train set
# for i in cols:
#     outlier_handler_skewed(df1_x,i,'fill_median')

### Divide Train and Test data

In [47]:
df1

,shop_id,shop_area_sq_ft,shop_profile,SALE_AMOUNT,sale_amount_per_sqft,num_unique_customers,num_transactions,sales_per_customer
0,SHOP047,528,Moderate,842960,1596.515152,920,1662,507.196149
1,SHOP009,676,High,1970870,2915.488166,2476,4517,436.322781
2,SHOP083,676,Low,1691985,2502.936391,1876,3550,476.615493
3,SHOP117,676,Low,2326200,3441.124260,2015,4015,579.377335
4,SHOP042,676,Low,1340215,1982.566568,1826,3219,416.345138
...,...,...,...,...,...,...,...,...
119,SHOP087,527,NaN,1128935,2142.191651,1061,1991,567.019086
120,SHOP050,411,NaN,2399125,5837.287105,1765,3875,619.129032
121,SHOP061,699,NaN,2110800,3019.742489,1725,3072,687.109375
122,SHOP056,597,NaN,3024315,5065.854271,2810,5663,534.048208
123,SHOP070,676,NaN,1325070,1960.162722,1407,2736,484.309211

In [48]:
df_pred = df1[pd.isnull(df1['shop_profile'])]

In [49]:
df_pred

,shop_id,shop_area_sq_ft,shop_profile,SALE_AMOUNT,sale_amount_per_sqft,num_unique_customers,num_transactions,sales_per_customer
100,SHOP046,545,NaN,2607865,4785.073394,1713,3387,769.963094
101,SHOP024,676,NaN,1308795,1936.087278,1628,2839,461.005636
102,SHOP023,617,NaN,2570425,4166.004862,2206,4031,637.664351
103,SHOP097,310,NaN,2642380,8523.806452,1647,3098,852.930923
104,SHOP044,715,NaN,1310440,1832.783217,1533,2594,505.181187
105,SHOP030,530,NaN,2862995,5401.877358,1616,3558,804.664137
106,SHOP038,411,NaN,1444025,3513.442822,1755,3080,468.839286
107,SHOP029,597,NaN,1973805,3306.206030,2035,3740,527.755348
108,SHOP096,676,NaN,2600915,3847.507396,2469,4723,550.691298
109,SHOP092,617,NaN,1961240,3178.670989,2230,3848,509.677755
110,SHOP081,774,NaN,2067720,2671.472868,1960,3279,630.594694
111,SHOP076,676,NaN,2276575,3367.714497,1972,3641,625.260917
112,SHOP080,554,NaN,1322790,2387.707581,1247,2309,572.884366
113,SHOP074,617,NaN,2608890,4228.346840,2715,5081,513.459949
114,SHOP107,588,NaN,2565235,4362.644558,910,1923,1333.975559
115,SHOP108,676,NaN,2100715,3107.566568,2050,3978,528.083208
116,SHOP019,411,NaN,2200580,5354.209246,1905,3690,596.363144
117,SHOP002,637,NaN,3084455,4842.158556,2546,4721,653.347808
118,SHOP114,513,NaN,2131345,4154.668616,2452,4287,497.164684
119,SHOP087,527,NaN,1128935,2142.191651,1061,1991,567.019086
120,SHOP050,411,NaN,2399125,5837.287105,1765,3875,619.129032
121,SHOP061,699,NaN,2110800,3019.742489,1725,3072,687.109375
122,SHOP056,597,NaN,3024315,5065.854271,2810,5663,534.048208
123,SHOP070,676,NaN,1325070,1960.162722,1407,2736,484.309211

In [50]:
df2 = df1.dropna()

In [51]:
X = df2.drop(['shop_profile', 'shop_id'], axis=1)
y = df2['shop_profile']
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [52]:
# from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import f1_score

# # Create a Random Forest Classifier with 100 trees
# rf = RandomForestClassifier(n_estimators=700, min_samples_split=2, min_samples_leaf=2, max_depth=10, bootstrap=False)

In [53]:
# rf.fit(X_train, y_train)

In [54]:
# y_pred = rf.predict(X_test)

In [55]:
# f1 = f1_score(y_test, y_pred, average='macro')
# print("F1 score:", f1)

In [56]:
from sklearn.preprocessing import PolynomialFeatures
from sklearn.feature_selection import SelectKBest, mutual_info_classif

poly = PolynomialFeatures(degree=3, include_bias=False)
X_poly = poly.fit_transform(X)
X_poly_pred = poly.transform(df_pred.drop(['shop_id', 'shop_profile'], axis=1))

X_poly_df = pd.DataFrame(X_poly, columns=poly.get_feature_names_out(X.columns))
X_poly_pred_df = pd.DataFrame(X_poly_pred, columns=poly.get_feature_names_out(X.columns))

# instantiate SelectKBest
kbest = SelectKBest(score_func=mutual_info_classif, k=3)
X_new = kbest.fit_transform(X_poly_df, y)
X_new_pred = kbest.transform(X_poly_pred_df)

# get selected feature names
X_poly_df.columns[kbest.get_support()]

Index(['shop_area_sq_ft num_unique_customers^2',
       'SALE_AMOUNT sale_amount_per_sqft^2',
       'SALE_AMOUNT sale_amount_per_sqft sales_per_customer'],
      dtype='object')

In [57]:
X_new_df = pd.DataFrame(X_new, columns=X_poly_df.columns[kbest.get_support()])
X_poly_pred_new_df = pd.DataFrame(X_new_pred, columns=X_poly_df.columns[kbest.get_support()])

In [58]:
X_new_df

,shop_area_sq_ft num_unique_customers^2,SALE_AMOUNT sale_amount_per_sqft^2,SALE_AMOUNT sale_amount_per_sqft sales_per_customer
0,4.468992e+08,2.148588e+12,6.825838e+11
1,4.144269e+09,1.675254e+13,2.507132e+12
2,2.379098e+09,1.059976e+13,2.018434e+12
3,2.744712e+09,2.754532e+13,4.637767e+12
4,2.253971e+09,5.267809e+12,1.106256e+12
...,...,...,...
95,3.070603e+09,7.113623e+13,9.873695e+12
96,5.250000e+08,1.416499e+13,2.115305e+12
97,1.542146e+09,1.035459e+13,2.917660e+12
98,1.533643e+09,1.458175e+13,2.218214e+12
99,4.918693e+09,3.140408e+13,4.392758e+12

In [59]:
X_poly_pred_new_df

,shop_area_sq_ft num_unique_customers^2,SALE_AMOUNT sale_amount_per_sqft^2,SALE_AMOUNT sale_amount_per_sqft sales_per_customer
0,1.599231e+09,5.971210e+13,9.608235e+12
1,1.791660e+09,4.905932e+12,1.168161e+12
2,3.002591e+09,4.461126e+13,6.828367e+12
3,8.409088e+08,1.919828e+14,1.921068e+13
4,1.680314e+09,4.401892e+12,1.213320e+12
5,1.384072e+09,8.354299e+13,1.244457e+13
6,1.265890e+09,1.782545e+13,2.378656e+12
7,2.472311e+09,2.157566e+13,3.444029e+12
8,4.120870e+09,3.850216e+13,5.510790e+12
9,3.068279e+09,1.981627e+13,3.177401e+12
10,2.973398e+09,1.475684e+13,3.483315e+12
11,2.628818e+09,2.581978e+13,4.793785e+12
12,8.614750e+08,7.541421e+12,1.809418e+12
13,4.548046e+09,4.664413e+13,5.664127e+12
14,4.869228e+08,4.882326e+13,1.492880e+13
15,2.840890e+09,2.028654e+13,3.447386e+12
16,1.491529e+09,6.308525e+13,7.026569e+12
17,4.129108e+09,7.231967e+13,9.758024e+12
18,3.084312e+09,3.678972e+13,4.402409e+12
19,5.932550e+08,5.180666e+12,1.371276e+12
20,1.280357e+09,8.174760e+13,8.670519e+12
21,2.079962e+09,1.924806e+13,4.379685e+12
22,4.713972e+09,7.761263e+13,8.182013e+12
23,1.338243e+09,5.091234e+12,1.257922e+12

In [60]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X_new_df, y, test_size=0.3, random_state=42)

In [61]:
from sklearn.ensemble import RandomForestClassifier
# from sklearn.metrics import f1_score

# Create a Random Forest Classifier with 100 trees
rf = RandomForestClassifier(n_estimators=700, min_samples_split=2, min_samples_leaf=2, max_depth=1000, bootstrap=False)

In [62]:
rf.fit(X_new_df, y)

RandomForestClassifier(bootstrap=False, max_depth=1000, min_samples_leaf=2,
                       n_estimators=700)

In [63]:
y_pred = rf.predict(X_poly_pred_new_df)

In [64]:
y_pred

array(['Moderate', 'Moderate', 'Low', 'Moderate', 'Moderate', 'Moderate',
       'Moderate', 'Moderate', 'High', 'Moderate', 'Low', 'Low', 'Low',
       'High', 'High', 'Low', 'Moderate', 'High', 'High', 'Low',
       'Moderate', 'High', 'High', 'Moderate'], dtype=object)

In [65]:
new_pred_df = pd.DataFrame(y_pred, columns=['shop_profile'])
# new_pred_df = pd.DataFrame(df_pred['shop_id']).merge(new_pred_df, left_index=True, right_index=True)
# new_pred_df
# df_pred['shop_id']
new_pred_df = pd.concat([pd.DataFrame(df_pred['shop_id']).reset_index(), new_pred_df], axis=1)
new_pred_df.drop(['index'], axis=1, inplace=True)

In [66]:
new_pred_df

    shop_id shop_profile
0   SHOP046     Moderate
1   SHOP024     Moderate
2   SHOP023          Low
3   SHOP097     Moderate
4   SHOP044     Moderate
5   SHOP030     Moderate
6   SHOP038     Moderate
7   SHOP029     Moderate
8   SHOP096         High
9   SHOP092     Moderate
10  SHOP081          Low
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107         High
15  SHOP108          Low
16  SHOP019     Moderate
17  SHOP002         High
18  SHOP114         High
19  SHOP087          Low
20  SHOP050     Moderate
21  SHOP061         High
22  SHOP056         High
23  SHOP070     Moderate

In [67]:
Test.drop(['shop_profile'], axis=1, inplace=True)

In [68]:
Test = pd.merge(Test, new_pred_df, on='shop_id', how='left')
Test

    shop_id shop_profile
0   SHOP046     Moderate
1   SHOP024     Moderate
2   SHOP023          Low
3   SHOP097     Moderate
4   SHOP044     Moderate
5   SHOP030     Moderate
6   SHOP038     Moderate
7   SHOP029     Moderate
8   SHOP096         High
9   SHOP092     Moderate
10  SHOP081          Low
11  SHOP076          Low
12  SHOP080          Low
13  SHOP074         High
14  SHOP107         High
15  SHOP108          Low
16  SHOP019     Moderate
17  SHOP002         High
18  SHOP114         High
19  SHOP087          Low
20  SHOP050     Moderate
21  SHOP061         High
22  SHOP056         High
23  SHOP070     Moderate

In [69]:
Test.to_csv('E:\DSE\DataStorm 4.0\DataStorm077\data-storm-4\Testing-data.csv', index=False)